* {
    margin: 0;
    padding: 0;
    /* text-align: justify; */
    text-justify: inter-word;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
/* farzaneh adds this part for fonts */
/*****************fonts**********************/
@font-face {
    font-family: 'myCircularB';
    src: url(/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2) format(woff2);
}
@font-face {
    font-family: 'myCircularM';
    src: url(/font/CircularStd-Light.otf)format(woff2);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'myCircularL';
    src: url(fonts/Circular-light.ttf)format(woff2);
    }
@font-face {
    font-family: 'myCircularBook';
    src: url(fonts/Circular-Book.otf)format(woff2);
    }
@font-face {
    font-family: 'Cereal-medium';
    src: url(/font/CircularStd-Medium.otf)format(woff2);
    }
@font-face {
    font-family: 'CircularStd-bold';
    src: url(/font/CircularStd-Bold.otf)format(woff2);
    }
@font-face {
    font-family: 'A';
    src: url(/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2)format(woff2);
    }
@font-face {
    font-family: 'CircularStd-boldItalic';
    src: url(/font/CircularStd-BoldItalic.otf)format(woff2);
    }
@font-face {
    font-family: 'Circular-bold.ttf';
    src: url(/font/Circular-bold.ttf);
   }
@font-face {
    font-family: 'Circular-light.ttf';
    src: url(/font/Circular-light.ttf);
    }
      @font-face {
        font-family: 'Circular-medium.ttf';
        src: url(/font/Circular-medium.ttf);
    }

html,
body {
    font-family: 'Circular', sans-serif;
    margin-top: 0;
    padding: 0;
    padding: 0;
    /*=========================== this part code have bug ! */
    /* width: 100vw; */
    /* =========================end bug! */
    /* background-color:black; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; */
}
h1 {
    font-size: 46px;
}

 /* Header section first row /////////////////////////////////////////////////////////////////////////*/
.header {
    background-color: black;
    color: white;
    height: 80px;
    margin-top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: row;
  }
.logoPart{
    width: 349px;
    height: 80px;
    display: flex;
    align-items: center;
}
.logo {
    width: 102px;
    height: 34px;
    /* position: relative; */
    display: flex;
  }
  .header1-2{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    height: 80px;
    width: 448.763px;
  }
  .Childheader1-2{
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    /* line-height: 20px; */
    line-height: 38px;
  }
  .underline-fix{padding-bottom: 11px;
    background: linear-gradient(to left, currentcolor, currentcolor) bottom center no-repeat;
    transition: 0.5s;
    background-size: 0 3px;}
    
    .underline-fix::after {
        content: '';
        display: flex;
        border-bottom: solid 2px white;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
        transform: scaleX(1);
      }
      .underline-hover::after {
        content: '';
        display: flex;
        border-bottom: solid 2px grey;
        background-color: rgb(190, 190, 190);;
        color:grey;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      .underline-hover:hover{
        /* background-color: grey; */
        color:rgb(190, 190, 190);
      }
  
      .underline-hover:hover:after {
        transform: scaleX(1);
      }
      

  .header1-3{
    display: flex;
    flex-direction: row;
    margin-right: 0px!important;
    margin-left: 46px;
    /* height: 70px; */
    width: 288px;
    /* padding: 10px 18.7px; */
    align-items: center;
    justify-content: flex-end;
  }
  /* farzaneh edit header1-3 */

  .host{
    font-size: 14px !important;
    font-weight: 800;
    font-size: 15px;
    /* margin-right: 10px; */
    cursor: pointer;
    width: 123.33px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .host:hover{
    background-color: #222222;
    border-radius: 30px;

  }
  .worldicon{
    width: 46px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 22px;
    margin-right: 4px;
    cursor: pointer;
}
.worldicon:hover{
    background-color: #222222;
    border-radius: 30px;

  }
  .profile{
    display: flex;
    width: 77px;
    height: 42px;
    background-color: #FFFFFF;
    border-radius: 50px;
    align-items: center;
  }
  .profilebox{
    display: flex;
    align-items: center;
    padding: 10px 15px;
   
  }

/* Search box of header/////////////////////////////////////////////////////// */
.header2{
    background-color: black;
    text-align: center;
    position: relative;
    height: 64px;
}
.Childheader2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:848px;
    background-color: #FFFFFF;
    height: 64px;
    align-content: center;
    border-radius:32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
}
  
    
    .divhi1 { grid-area: 1 / 1 / 2 / 2; }
    .divhi2 { grid-area: 1 / 2 / 2 / 3; }
    .divhi3 { grid-area: 1 / 3 / 2 / 4; }

    .Searchbar1{
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        /* margin-left: 32px; */
        /* width: 50px; */
        width: 269.975px;
        justify-content: center;
        flex-direction: column;
    }
    .Searchbar1:hover, .Searchbar3:hover, .ChildSearchbar2:hover{
        background-color: #EBEBEB;
        border-radius: 40px;

    }
    
    .Searchbar1-1{
        display: flex;
        flex-direction: column;
        border-right: 1px solid lightgray;
        justify-content: center;
        align-items: flex-start;
        margin-left: 33px;
        padding-right: 54px;
        height: 36px;
        width: 182.488px;
        cursor: pointer;
    }
    label{
        font-size: 12px;
        font-weight: 800;
        line-height: 16px;
        letter-spacing: 0.04em;
        cursor: pointer;
    }
    .Searchbarinput{
        font-size: 14px;
        color: #222222;
        line-height: 18px;
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
    }
    .Searchbarspan{
        font-size: 14px;
        line-height: 18px;
        color:#717171;
    }
    
    .Searchbar2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 357.3px
    }
    .ChildSearchbar2{
        display: flex;
    width: 180.15px;
    height: 64px;
    align-items: center;
    cursor: pointer;
    }
    .Searchbar2-1{
        flex: 1;
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        border-right: 1px solid lightgray;
        margin-left: 24px;
        /* padding-right: 24px; */
        width: 153.150px;
        height: 36px;
        justify-content: center;
        align-items: flex-start;
        /* cursor: pointer; */
    }
    .Searchbar2-2{
        flex: 2;
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        border-right: 1px solid lightgray;
        padding-right: 24px;
        width: 130px;
        height: 36px;
        justify-content: center;
    }
    .Searchbar3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
    }
    .Searchbar3-1{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        width: 121.725px;
    }
    .Searchcircle{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        height: 48px;
    }
    .Searchcircle1{
        flex: 2;
        display: flex;
        width: 48px;
        /* height: 67px; */
        background-color: #ff385c;
        margin-right: 10px;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
    }

/* Box with Help house ///////////////////////////////////////////////////////////////////////////////*/
.Part1{
    background-color:black;
    padding-bottom: 96px;
    padding-top: 76px;
    /* height: 336.688px; */
}
.ChildPart1{
    height: 337.675px;
    color: #ffffff;
    background-color: #FF385C;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
  .Part1div1{
    text-align: center; 
    justify-content: center;
}
  .Part1text1{
    font-size:38px;
  flex: 0 0 120px;
  /* letter-spacing: -0.02em; */
  letter-spacing: -0.0111em;
  line-height: 54px;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 24px;
  }
  .Part1div2{
    display: flex;
    justify-content: center;
  }
  .Part1span1{
    background-color: #FF385C;
    color: #FFFFFF;
    border-radius: 8px;
    /* padding: 8px 16px 8px 16px; */
    border: 1px solid white;
    width: 104.55px;
    height: 34px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .Part1text2{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;;
    letter-spacing: 0.035em;
  }

/* Picture with Let your curiosity do the booking /////////////////////////////////////////////////////*/
  .Part2 {
    position: relative;  /*Parent MUST be relative*/
    z-index: 9;
    background: #FFFFFF;
    /*Set width/height of the div in 'parent'*/
    /* width: 100px;
    height: 100px; */
  }
  .Part2:before {
    content: "";
    position: absolute; /*set 'child' to be absolute*/
    z-index: -1;  /*Make this lower so text appears in front*/
    /*You can choose to align it left, right, top or bottom here*/
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    background: black;
  }
  .Part2text{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 0px;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    height: 100%;
    align-items: end;
  }
  .Part2text1{
    position: absolute;
    font-size: 41px;
    padding-bottom: 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder !important;
    font-family: 'Circular-light.ttf';


  }
  .Part2text1span{
    letter-spacing: -0.02em;
    display: flex;
    font-size: 38px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 408px;
    line-height: 43px;
    margin-bottom: 24px;
    color: #FFFFFF;
    width: 564.15px;
}
    #sample{
        font-weight: bolder;
    }
  .Part2text2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 1000px;
    width: 161.425px;
    height: 56px;
    cursor: pointer;
    font-weight: bolder !important;
    font-family: 'Circular-light.ttf';
  }

  .Part2text2a{
    font-size: 18px;
    background: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    line-height: 28px;
    min-width: 0px !important;
    font-family: 'Circular-bold.ttf';
  /* padding: 14px 32px !important; */
  }
  .Part2img{
    /* margin-left:80px;
    margin-right:80px; */
    position: relative;
    height:547.200px;
  }
  .houseimg{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background-size:cover;
    border-radius: 12px;
  }
 

/* Picture with Inspiration for your trip ///////////////////////////////////////////////////////////*/
.Part3{
    padding-top:96px;
    height: 424.2px;
  }
 .Part3text{
    width: 413.925px;
    height: 85px;
    margin-left:80px;
 }
 .Part3text1{
    /* padding-bottom: 48px; */
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 37px;
 }
   .ChildPart3 {
     /* margin-left: 80px;
     margin-right: 80px; */
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr;
     align-content: space-between;
     grid-column-gap: 24px;
     grid-row-gap: 0px;
     margin-left: 80px;
     margin-right: 80px;
     overflow: hidden;
     }
     
    .div1{
     grid-area: 1 / 1 / 2 / 2;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 0px;
     border-radius: 12px;
    overflow: hidden;
        }
    .div2 { 
     grid-area: 1 / 2 / 2 / 3; 
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 0px;
     /* align-content: center; */
    /* height: 336.525px; */
    border-radius: 12px;
    overflow: hidden;
     }
    .div3 { 
     grid-area: 1 / 3 / 2 / 4;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 0px;
     border-radius: 12px;
    overflow: hidden;
     /* height: 429.05px; */
    }
    .div4 { grid-area: 1 / 4 / 2 / 5; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;border-radius: 12px;
        overflow: hidden;}
        .cardflextext{
        padding: 20px 16px 16px;
        /* background: rgb(204, 45, 74); */
        display: flex;
        flex-direction: column;
     }
     .cardflex{
        display: grid;
        justify-items: stretch;
      }
     .cardflextext1{
        color: #FFFFFF;
        font-size: 27px;
        /* font-weight: 600; */
        letter-spacing: -0.01em;
        line-height: 30px;
        padding-bottom: 8px;
        font-weight: 600;
     }
     .cardflextext2{
        color: #FFFFFF;
        font-size: 15px;
        /* font-weight: 400; */
        line-height: 20px;
     }
 
     /* Picture with discover airbnb experiences //////////////////////////////////////////////////// */
.Part4{
    padding-top:96px;
    padding-bottom: 96px;
    /* width: 1249.6px;
    height: 617.8px; */
    width: 1189.6px;
    height:667.800px;
    margin-left: 80px;
    font-weight: 600;
  }
  .Part4 .ChildPart4{
    /* margin-left:80px;
    margin-right:80px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
}

.Part4 .ChildPart4 img{
    width: 582.8px;
    height: 582.8px;
    border-radius: 12px;
    /* position:absolute; */
}
.Part4text{
  /* margin-left:80px; */
  /* margin-right:80px; */
  padding-bottom: 48px;
  font-size: 33px;
  letter-spacing: -0.01em;
  height: 37px;
}
.part4div{
  display: grid;
 grid-template-columns: 1fr;
/* grid-template-rows: repeat(2, 1fr); */
 grid-column-gap: 0px;
 grid-row-gap: 24px;
 padding:40px
}
.Part4div1{
  /* position: absolute; */
  grid-area: 1 / 1 / 2 / 2;
  width: 229.812px;
  /* height: 294px;*/
}
.Part4Span1{
  color: #FFFFFF;
  font-size: 41px;
  letter-spacing: -0.01em;
  line-height: 46px;
  font-weight: 800;
 }
.Part4div2{
  grid-area: 2 / 1 / 3 / 2;
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 140.1px;
  height: 48px;
  font-weight: 600;
  cursor: pointer;
 }
.Part4div3{
  grid-area: 2 / 1 / 3 / 2;
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 192.200px;
  height: 48px;
  font-weight: 600;
  cursor: pointer;
}
.Part4div2:hover, .Part4div3:hover{
background-color: #EBEBEB;
}
.Part4Span2{
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height:100%;
  line-height: 20px;

 }

/* Picture with shop airbnb gift card ///////////////////////////////////////////////////////*/
/* .Part5{
    margin-bottom:96px;
  } */
  .Part5 .ChildPart5{
    display: flex;
    margin-top: 0;
    height:449.862px;
}
.Part5div1{
  width:464.225px;
  height:449.862px;
  display:flex;
  flex-direction: column;
  gap:24px;
}
.ChildPart5 .Part5div1 .span1{
    font-size: 41px;
    display:block;
    width: 229.725px;
    /* height:339.800px; */
    letter-spacing: -0.02em;
    line-height: 46px;
    padding-left: 80px;
    font-weight: 600;
    line-height: 46px;
}
.part5a{
  background-color: black;
  border-radius: 8px;
  width: 133.2px;
  height: 48px;
  margin-left: 80px;
}
.part5a span{
  color:#FFFFFF;
  font-weight: 600;
  line-height: 20px;
}
.Part5div2{
    width: 885.375px;
    height: 449.862px;
}
 /* Picture with question in hosting  ////////////////////////////////////////////////////////////////*/
.Part6 {
    position: relative;
    /* max-width: 1290px; */
    min-width: 1046px;
    height: 679.600px;
    padding-bottom: 48px;
}

.Part6 img {
    /* border-radius: 12px; */
    width:100%;
    height: 624.800px;
    position: absolute;
}

.ChildPart6 {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 186px;
    padding: 80px
}

.Part6div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 341.81px;
    height: 231px;
}

.Part6Span1 {
    color: #FFFFFF;
    font-size: 74px;
    line-height: 77px;
    font-weight: 600;
}

.Part6div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 169.71px;
    height: 48px;
    cursor: pointer;
}
.Part6div2:hover{
    background-color: #EBEBEB;
}
.Part6Span2 {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    line-height: 20px;
}

/*=============================================== this part for footer styles */
#footer {    
    border: 1px solid transparent;
    background-color: #ffffff;
    margin: auto;
    font-family: 'Circular', sans-serif;
 
}
@font-face {
    font-family: 'Circular';
    src: url('font/CircularStd-Bold.otf');
}
/* footer{
    font-family: 'Circular', sans-serif;
} */

.general.tags{
    margin: 0px 80px;
    font: Times;
}
#content-footer {
    width: 90%;
    margin: 0 auto;
}

#title-footer-section-one h5 {
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 10px 0px;
}

#description-footer-links {
    width: 100%;
    min-height: 70px;
    justify-content: center;
    align-items: center;
}

#description-footer-links ul {
    display: flex;
    list-style-type: none;
}

#description-footer-links ul li:nth-child(1) {
    font-weight: 800;
}

#description-footer-links ul li {
    padding-right: 10px;

}

#description-footer-links ul li a {
    padding: 10px 5px;
    border-radius: 12px;
    text-decoration: none;
    color: #000000;

}

#description-footer-links ul li:hover a {
    background-color: #00000011;
    padding: 10px 5px;
    border-radius: 12px;
}

#description-footer-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 11px;

}

.border-bottom {
    border-bottom: 1px solid black;
    padding-bottom: 9px;
}

#description-content-footer2 ul li a {
    padding: 10px 5px;
    border-radius: 12px;
    text-decoration: none;
    color: #000000;
}

#discription-content-footer2 ul li :hover a {
    background-color: #00000011;
    padding: 10px 5px;
    border-radius: 12px;
}

/* <!-- list of countries --> */
#meta-list-item {
    display: flex;
    width: 90%;
    align-items: flex-start;
    padding-left: 80px;
    position: relative;
    left: 50px;

}
@font-face {
    font-family: 'Circular';
    src: url('font/CircularStd-Light.otf');
}
footer{
    font-family: 'Circular', sans-serif;
}

#meta-list-item div {
    width: 50%;
    height: 200px;
    list-style-type: none;

}

#meta-list-item ul li {
    padding-right: 10px;
    list-style-type: none;
    margin-top: 24px;
}

#meta-list-item ul li a {
    padding: 20px 10px;
    border-radius: 12px;
    text-decoration: none;
    color: #000000;
}

#meta-list-item ul li :hover a {
    background-color: #00000011;
    padding: 20px 30px;
    border-radius: 12px;
    list-style-type: none;
}

#listOfFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 12px;
    list-style-type: none;
    scroll-padding-inline: auto;
    color: black
}
.parent-content-footer {    
    width: 99.8%;
    height: 300px;
    background-color: #f7f7f7
}

.parent-content-footer div { 
    display: flex;
}
.parent-content-footer div ul {     
    margin: 48px 12px 48px 55px;
}
.parent-content-footer div ul:first-child{
    margin-left: 135px !important;
}
.parent-content-footer ul:last-child{
    margin: 48px 87px !important;
}
.parent-content-footer div ul li:nth-child(1){
    margin-top: 0 ;

}
.parent-content-footer div ul li {
    margin-top: 10px;
}
.parent-content-footer div ul li a{
    color : #000000;
    text-decoration: none;
}
.parent-content-footer ul li a:hover{
     text-decoration: underline;
}
.w-90{
    width: 90% !important;
    margin: 0 auto;
    background-color: #f7f7f7 !important;
}
#last-part-footer{
    width: 100%;
    margin:  0 auto;
    display: flex;
    background-color: #f7f7f7;
    padding: 10px 0; 
}
#last-part-footer ul{
    margin: 0 80px;
    display: flex;
    width: 100%;

}
#last-part-child-one ul li:first-child{
    margin: 0
}
#last-part-child-one ul li{
    margin-left: 8px;
}
#last-part-child-one ul li a{
    color: #000000;
    text-decoration: none;
}

#last-part-child-one ul li a:hover{
    text-decoration: underline;
}
#last-part-child-two{
    width: 50%;
    margin: 0 100px;
}
#last-part-child-two ul{
    margin-left: auto;    
    justify-content: end;
}
#last-part-child-two ul li{
padding: 0px 5px ;
}
#last-part-child-two ul li a{
    color: #000000;
    text-decoration: none;
}
#last-part-child-two ul li a:hover{
    text-decoration: underline;
}
footer {
    font-family: "Comic Sans Ms",serif;
}
.fa-size {
    font-size: 20px;
}